POSTGRES_USER=result_year
POSTGRES_PASSWORD=result_year_dev_password
POSTGRES_DATABASE=result_year
POSTGRES_PORT=5446

DB_HOST=localhost
DB_PORT=5446
DB_USER=result_year
DB_PASSWORD=result_year_dev_password
DB_NAME=result_year
DB_SSLMODE=disable

REDIS_URL=redis://localhost:6379
REDIS_PORT=6379
